[submodule "flatpak/shared-modules"]
	path = flatpak/shared-modules
	url = https://github.com/flathub/shared-modules.git
[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "Sources/Externals/openal-soft"]
	path = Sources/Externals/openal-soft
	url = https://github.com/kcat/openal-soft.git
